# macOS cruft
.DS_Store
**/.DS_Store

# Python
__pycache__/
.venv/

# RFMiD data (keep code-only repo)
RFMiD/
Training/
Training_Set/
Evaluation_Set/
Test_Set/
*.png
*.jpg
*.jpeg

# allow a tiny demo
!images_demo/*.png
!images_demo/*.jpg
